name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Update Rust
        run: rustup update
      - name: Build
        run: cargo build --verbose --locked
      - name: Run tests
        run: cargo test --verbose --locked
      - name: Build docs
        run: cargo run -- build doc
